<h1>Editing Investment</h1>

<%= render 'form', investment: @investment %>

<%= link_to 'Show', @investment, class: 'btn btn-secondary' %>
<%= link_to 'Back', investments_path, class: 'btn btn-secondary' %>
