nav{
  width: 100%;
  min-height: 150px;
  background-image: url('hero.jpg');
  background-repeat: round;
  position: relative;
}

nav, nav a{
  color: white;
}

.nav-text{
  background-color: #00000080;
}